.simple-paragraph {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  margin: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 4px solid #1f6e27;
  border-radius: 5px;
}


/** Toast */
.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.5s ease, bottom 0.5s ease;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}

.headline {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}