/** structure **/

body,
html {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background: #005eff;
  color: white;
  
  padding-bottom: 0;
}

footer {
  background: #005eff;
  color: white;
  text-align: center;
  padding: 0.5em;
}

.content {
  flex: 1;
  padding: 1em;
  background: #ffffff;
  
}
/**Navigator**/
nav {
  display: flex;
  left: space-around;
  background-color: #333;
  padding: 10px 0;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  display: inline-block;
}
nav a:hover {
  background-color: #575757;
  border-radius: 4px;
}
/* button link */
.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db; /* Nice blue color */
  color: white;
  text-decoration: none; /* Remove underline */
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

/**/
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-div {
  float: left;
  padding-left: 1em;
}

.right-div {
  float: right;
  padding-right: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 20px;
    padding: 20px;
    margin-bottom: 100px;
  }
  
  .grid-item {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

/* Styling for the search container */
.search-container {
  margin: 20px auto;
  text-align: center;
}

#inputSearch {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#searchButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

#searchButton:hover {
  background-color: #3980fa;
}

.center-text {
  text-align: center;
  color: #005eff;
  font-size: 24px;
}
/*Table order detail*/
table {
  width: 80%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 0px auto;
  margin-bottom: 100px;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

tr:hover {
  background-color: #f1f1f1;
}

/*common*/
.headline {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.combobox {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  width: 200px;
}

.simple-paragraph {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  margin: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 4px solid #1f6e27;
  border-radius: 5px;
  
}

/** Toast */
.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.5s ease, bottom 0.5s ease;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}

.headline {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/** Tra cứu table **/
.simple-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.simple-table th,
.simple-table td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: left;
}

.simple-table th {
  background-color: #005eff;
  color: white;
}

.simple-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.simple-table tr:hover {
  background-color: #e0f7fa;
}

