<style>
  footer { background-color: #333; color: white; text-align: center; padding:
  10px 20px; position: fixed; bottom: 0; width: 100%; }
</style>
<footer>
  <p>&copy; Bản quyền quản lý khách sạn 2 2025</p>
</footer>