{{>header}}

<h2>About Us</h2>

Khách sạn X có 3 khu vực A,B,C. Mỗi khu vực có nhiều tầng
( trung bình là 4 ). Số phòng là chuỗi kết hợp Tên khu vực , Số
thứ tự tầng , Số thứ tự phòng. Khách sạn có 3 loại phòng, mỗi loại
sẽ có đơn giá, tiện nghi và số khách tối đa riêng. X quản lý việc
cho thuê/trả phòng 

{{>footer}}