{{>header}}

<h2>Liên hệ</h2>
<p>Chúng tôi rất vui khi nhận được phản hồi từ bạn. Nếu bạn có bất kỳ câu hỏi nào, hãy liên hệ với chúng tôi qua thông tin dưới đây:</p>
<ul>
    <li>
        <strong>Địa chỉ:</strong> 123 Đường ABC, Thành phố XYZ, Việt Nam
        </li>
        <li>
        <strong>Điện thoại:</strong> +84 123 456 789</li>
        
    </ul>

{{>footer}}