{{>header}}

<h2>Liên hệ</h2>
<p class="simple-paragraph">Chúng tôi rất vui khi nhận được phản hồi từ bạn. Nếu bạn có bất kỳ câu hỏi nào, hãy liên hệ với chúng tôi qua thông tin dưới đây:</p>
<ul class="simple-list">
    <li>
        <strong>Địa chỉ:</strong> 123 Đường ABC, Thành phố XYZ, Việt Nam
        </li>
        <li>
        <strong>Điện thoại:</strong> +84 123 456 789</li>
        
    </ul>
<img src="images/maps.png" alt="Hình ảnh liên hệ" style="width: 50%; height: auto; margin-bottom: 100px;"/>
{{>footer}}