{{>header}}

<h2>Login</h2>
<form id="loginForm" action="/login" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" placeholder="Enter your username" required>
  <br><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" placeholder="Enter your password" required>
  <br><br>

  <button type="submit">Login</button>
</form>

{{>footer}}