<header>
  <h1>Đồ Án Quản lý khách sạn 2</h1>
  <h3>Ứng dụng cho tiếp tân
    {{#if user}}
      Xin chào: {{user.hoTen}} <a href="/logout" class="button-link">Đăng xuất</a>
    {{/if}}
  </h3>
</header>

<nav>
  <a href="/">Trang chủ</a>
  {{!-- <a href="/login">Đăng nhập</a> --}}
</nav>