<header>
  <div class="container">
  <div class="left-div">
    <h1>Đồ Án Quản lý khách sạn 2</h1>
    <h3>Ứng dụng cho tiếp tân</h3>
  </div>
  <div class="right-div">
     {{#if user}}
      <h3>Xin chào: {{user.hoTen}}<br><br><a href="/logout" class="button-link">Đăng xuất</a></h3>
    {{/if}}
  </div>
</div>
</header>

<nav>
  <a href="/">Trang chủ</a>
</nav>