<header>
  <h1>Đồ Án Quản lý khách sạn 2</h1>
  <h3>Ứng dụng cho giám đốc
    {{#if user}}
      Xin chào: {{user.hoTen}} <a href="/logout" class="button-link">Đăng xuất</a>
    {{/if}}
  </h3>
</header>

<nav>
  <a href="/">Thống kê</a>
  <a href="/tracuu">Tra cứu</a>
  <a href="/quanlygia">Quản lý giá</a>
  {{!-- <a href="/login">Đăng nhập</a> --}}
</nav>